body {
    font-family: Arial, sans-serif;
    font-size: 70px; /* Fonte principal */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 30%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.item img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* Aumenta o espaçamento entre a imagem e o texto */
}

.item h1 {
    font-size: 24px; /* Aumenta a fonte do título */
    margin-bottom: 20px; /* Aumenta o espaçamento abaixo do título */
    text-align: center;
    letter-spacing: 2px; /* Aumenta o espaçamento entre as letras */
}

#voltar {
    background-color: rgb(23, 35, 197);
    position: absolute;
    top: 20px;
    width: 77px;
    height: 35px;
    margin: 0 10px;
    right: 20px;
    border-radius: 5px;
    color: rgb(242, 244, 247);
}

#voltar:hover {
    background-color: #ddd;
}

.container:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
