body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    grid-template-rows: repeat(4, auto); /* Quatro linhas */
    gap: 20px; /* Espaço entre os itens */
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
}

#voltar {
    background-color: rgb(23, 35, 197);
    position: absolute;
    top: 20px;
    width: 77px;
    height: 35px;
    right: 20px;
    border-radius: 5px;
    color: rgb(242, 244, 247);
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    cursor: pointer;
}

#voltar:hover {
    background-color: #ddd;
    color: black;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.img-wrapper {
    overflow: hidden;
    border-radius: 5px;
    width: 90%;
    max-width: 220px;
    height: auto;
}

.img-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: contain;
}

.img-wrapper:hover img {
    transform: scale(1.1);
}

.item h1 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

#refri {
    width: 120%; /* Mantém o aumento da largura em 120% */
    max-width: 320px; /* Define um limite máximo */
    height: auto; /* Mantém a proporção */
    display: block; /* Garante que ela se comporte como um bloco */
    margin: 0 auto; /* Centraliza inicialmente */
    margin-left: -20px; /* Move a imagem para a esquerda */
    transition: transform 0.3s ease;
    object-fit: contain;
}

.img-wrapper:hover #refri {
    transform: scale(1.2); /* Adiciona um efeito de zoom ao passar o mouse */
}


